@model Programas.Models.Etapas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Etapas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etapa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Etapa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Etapa">Edit</a> |
    <a asp-action="Index">Back to List completa de etapas</a>
</div>
