@model Programas.Models.Actores

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Actor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
